In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

from sklearn.metrics import r2_score

#models
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from xgboost import XGBRegressor

In [2]:
df = pd.read_csv('C:/Users/user/Downloads/Classification & Regression Project/regression_project_data.csv')
df.head(10)

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
5,V. van Dijk,Virgil van Dijk,7/8/1991,27,193.04,92.1,CB,Netherlands,88,90,...,64,82,88,41,60,62,87,90,89,84
6,K. Mbappé,Kylian Mbappé,12/20/1998,20,152.40,73.0,"RW,ST,RM",France,88,95,...,78,62,38,88,82,70,86,34,34,32
7,S. Agüero,Sergio Leonel Agüero del Castillo,6/2/1988,30,172.72,69.9,ST,Argentina,89,89,...,83,65,24,92,83,83,90,30,20,12
8,M. Neuer,Manuel Neuer,3/27/1986,32,193.04,92.1,GK,Germany,89,89,...,16,29,30,12,70,47,70,17,10,11
9,E. Cavani,Edinson Roberto Cavani Gómez,2/14/1987,32,185.42,77.1,ST,Uruguay,89,89,...,79,84,48,93,77,85,82,52,45,39

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   name                           17954 non-null  object
 1   full_name                      17954 non-null  object
 2   birth_date                     17954 non-null  object
 3   age                            17954 non-null  int64
 4   height_cm                      17954 non-null  float64
 5   weight_kgs                     17954 non-null  float64
 6   positions                      17954 non-null  object
 7   nationality                    17954 non-null  object
 8   overall_rating                 17954 non-null  int64
 9   potential                      17954 non-null  int64
 10  value_euro                     17699 non-null  float64
 11  wage_euro                      17708 non-null  float64
 12  preferred_foot                 17954 non-null  object
 13  international_reputation(1-5)  17954 non-null  int64
 14  weak_foot(1-5)                 17954 non-null  int64
 15  skill_moves(1-5)               17954 non-null  int64
 16  body_type                      17954 non-null  object
 17  release_clause_euro            16117 non-null  float64
 18  national_team                  857 non-null    object
 19  national_rating                857 non-null    float64
 20  national_team_position         857 non-null    object
 21  national_jersey_number         857 non-null    float64
 22  crossing                       17954 non-null  int64
 23  finishing                      17954 non-null  int64
 24  heading_accuracy               17954 non-null  int64
 25  short_passing                  17954 non-null  int64
 26  volleys                        17954 non-null  int64
 27  dribbling                      17954 non-null  int64
 28  curve                          17954 non-null  int64
 29  freekick_accuracy              17954 non-null  int64
 30  long_passing                   17954 non-null  int64
 31  ball_control                   17954 non-null  int64
 32  acceleration                   17954 non-null  int64
 33  sprint_speed                   17954 non-null  int64
 34  agility                        17954 non-null  int64
 35  reactions                      17954 non-null  int64
 36  balance                        17954 non-null  int64
 37  shot_power                     17954 non-null  int64
 38  jumping                        17954 non-null  int64
 39  stamina                        17954 non-null  int64
 40  strength                       17954 non-null  int64
 41  long_shots                     17954 non-null  int64
 42  aggression                     17954 non-null  int64
 43  interceptions                  17954 non-null  int64
 44  positioning                    17954 non-null  int64
 45  vision                         17954 non-null  int64
 46  penalties                      17954 non-null  int64
 47  composure                      17954 non-null  int64
 48  marking                        17954 non-null  int64
 49  standing_tackle                17954 non-null  int64
 50  sliding_tackle                 17954 non-null  int64
dtypes: float64(7), int64(35), object(9)
memory usage: 7.0+ MB

In [4]:
df.drop(columns = ['name','full_name', 'birth_date', 'nationality',
'value_euro', 'wage_euro', 'preferred_foot', 'release_clause_euro',
'national_team', 'national_rating', 'national_team_position',
'national_jersey_number'], axis = 1, inplace = True)

In [5]:
df.head(10)

,age,height_cm,weight_kgs,positions,overall_rating,potential,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),body_type,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,31,170.18,72.1,"CF,RW,ST",94,94,5,4,4,Messi,...,94,48,22,94,94,75,96,33,28,26
1,27,154.94,76.2,"CAM,RM,CM",88,89,3,5,4,Lean,...,89,46,56,84,91,67,88,59,57,22
2,25,190.50,83.9,"CM,CAM",88,91,4,4,5,Normal,...,82,78,64,82,88,82,87,63,67,67
3,27,162.56,59.0,"LW,ST",88,88,3,4,4,Normal,...,84,34,26,83,87,61,83,51,24,22
4,27,187.96,88.9,CB,88,91,3,3,2,Normal,...,15,87,88,24,49,33,80,91,88,87
5,27,193.04,92.1,CB,88,90,3,3,2,Normal,...,64,82,88,41,60,62,87,90,89,84
6,20,152.40,73.0,"RW,ST,RM",88,95,3,4,5,Lean,...,78,62,38,88,82,70,86,34,34,32
7,30,172.72,69.9,ST,89,89,4,4,4,Stocky,...,83,65,24,92,83,83,90,30,20,12
8,32,193.04,92.1,GK,89,89,5,4,1,Normal,...,16,29,30,12,70,47,70,17,10,11
9,32,185.42,77.1,ST,89,89,4,4,3,Lean,...,79,84,48,93,77,85,82,52,45,39

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            17954 non-null  int64
 1   height_cm                      17954 non-null  float64
 2   weight_kgs                     17954 non-null  float64
 3   positions                      17954 non-null  object
 4   overall_rating                 17954 non-null  int64
 5   potential                      17954 non-null  int64
 6   international_reputation(1-5)  17954 non-null  int64
 7   weak_foot(1-5)                 17954 non-null  int64
 8   skill_moves(1-5)               17954 non-null  int64
 9   body_type                      17954 non-null  object
 10  crossing                       17954 non-null  int64
 11  finishing                      17954 non-null  int64
 12  heading_accuracy               17954 non-null  int64
 13  short_passing                  17954 non-null  int64
 14  volleys                        17954 non-null  int64
 15  dribbling                      17954 non-null  int64
 16  curve                          17954 non-null  int64
 17  freekick_accuracy              17954 non-null  int64
 18  long_passing                   17954 non-null  int64
 19  ball_control                   17954 non-null  int64
 20  acceleration                   17954 non-null  int64
 21  sprint_speed                   17954 non-null  int64
 22  agility                        17954 non-null  int64
 23  reactions                      17954 non-null  int64
 24  balance                        17954 non-null  int64
 25  shot_power                     17954 non-null  int64
 26  jumping                        17954 non-null  int64
 27  stamina                        17954 non-null  int64
 28  strength                       17954 non-null  int64
 29  long_shots                     17954 non-null  int64
 30  aggression                     17954 non-null  int64
 31  interceptions                  17954 non-null  int64
 32  positioning                    17954 non-null  int64
 33  vision                         17954 non-null  int64
 34  penalties                      17954 non-null  int64
 35  composure                      17954 non-null  int64
 36  marking                        17954 non-null  int64
 37  standing_tackle                17954 non-null  int64
 38  sliding_tackle                 17954 non-null  int64
dtypes: float64(2), int64(35), object(2)
memory usage: 5.3+ MB

In [7]:
df.duplicated().sum()

2

In [23]:
# Identify duplicate rows
duplicates = df[df.duplicated()]
duplicates

,age,height_cm,weight_kgs,positions,overall_rating,potential,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),body_type,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
16646,27,152.40,74.8,15,75,75,1,3,4,6,...,62,57,41,77,76,71,78,26,33,32
16683,27,187.96,81.2,823,75,75,1,3,3,6,...,73,67,40,72,69,74,83,23,37,46

In [24]:
df = df.drop_duplicates()
df

,age,height_cm,weight_kgs,positions,overall_rating,potential,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),body_type,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,31,170.18,72.1,214,94,94,5,4,4,4,...,94,48,22,94,94,75,96,33,28,26
1,27,154.94,76.2,72,88,89,3,5,4,3,...,89,46,56,84,91,67,88,59,57,22
2,25,190.50,83.9,228,88,91,4,4,5,6,...,82,78,64,82,88,82,87,63,67,67
3,27,162.56,59.0,549,88,88,3,4,4,6,...,84,34,26,83,87,61,83,51,24,22
4,27,187.96,88.9,104,88,91,3,3,2,6,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,25,175.26,74.8,648,67,70,1,3,3,6,...,54,69,41,60,64,63,56,40,20,18
17950,23,182.88,79.8,328,59,67,1,3,2,6,...,22,62,55,42,39,32,52,53,64,60
17951,22,185.42,89.8,327,59,67,1,1,1,6,...,9,27,10,5,25,16,47,9,12,13
17952,21,175.26,64.9,845,59,71,1,4,3,3,...,58,38,15,54,52,50,53,16,18,17
17953,19,190.50,79.8,823,59,75,1,4,2,6,...,53,67,20,53,49,52,45,23,31,21

In [25]:
df.duplicated().sum()

0

In [26]:
#check for any categorical columns ---> date is categorical column ---> drop.
categorical = df.select_dtypes(include=['object']).columns

if len(categorical) > 0:
    print("there is a categorical column")
    for feature in categorical:
        print(feature)
else:
    print("there is no categorical column")

there is no categorical column

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
categorical_columns = ['positions', 'body_type']
for column in categorical_columns:
    encoder = LabelEncoder()
    df[column] = encoder.fit_transform(df[column])

In [29]:
df.head(10)

,age,height_cm,weight_kgs,positions,overall_rating,potential,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),body_type,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,31,170.18,72.1,214,94,94,5,4,4,4,...,94,48,22,94,94,75,96,33,28,26
1,27,154.94,76.2,72,88,89,3,5,4,3,...,89,46,56,84,91,67,88,59,57,22
2,25,190.50,83.9,228,88,91,4,4,5,6,...,82,78,64,82,88,82,87,63,67,67
3,27,162.56,59.0,549,88,88,3,4,4,6,...,84,34,26,83,87,61,83,51,24,22
4,27,187.96,88.9,104,88,91,3,3,2,6,...,15,87,88,24,49,33,80,91,88,87
5,27,193.04,92.1,104,88,90,3,3,2,6,...,64,82,88,41,60,62,87,90,89,84
6,20,152.40,73.0,801,88,95,3,4,5,3,...,78,62,38,88,82,70,86,34,34,32
7,30,172.72,69.9,823,89,89,4,4,4,9,...,83,65,24,92,83,83,90,30,20,12
8,32,193.04,92.1,327,89,89,5,4,1,6,...,16,29,30,12,70,47,70,17,10,11
9,32,185.42,77.1,823,89,89,4,4,3,3,...,79,84,48,93,77,85,82,52,45,39

In [30]:
#check for any categorical columns ---> date is categorical column ---> drop.
categorical = df.select_dtypes(include=['object']).columns

if len(categorical) > 0:
    print("there is a categorical column")
    for feature in categorical:
        print(feature)
else:
    print("there is no categorical column")

there is no categorical column

In [31]:
np.max(df , axis=0)

age                               46.00
height_cm                        205.74
weight_kgs                       110.20
positions                        889.00
overall_rating                    94.00
potential                         95.00
international_reputation(1-5)      5.00
weak_foot(1-5)                     5.00
skill_moves(1-5)                   5.00
body_type                          9.00
crossing                          93.00
finishing                         95.00
heading_accuracy                  94.00
short_passing                     93.00
volleys                           90.00
dribbling                         97.00
curve                             94.00
freekick_accuracy                 94.00
long_passing                      93.00
ball_control                      96.00
acceleration                      97.00
sprint_speed                      96.00
agility                           96.00
reactions                         96.00
balance                           96.00
shot_power                        95.00
jumping                           95.00
stamina                           97.00
strength                          97.00
long_shots                        94.00
aggression                        95.00
interceptions                     92.00
positioning                       95.00
vision                            94.00
penalties                         92.00
composure                         96.00
marking                           94.00
standing_tackle                   93.00
sliding_tackle                    90.00
dtype: float64

In [32]:
np.min(df , axis=0)

age                               17.0
height_cm                        152.4
weight_kgs                        49.9
positions                          0.0
overall_rating                    47.0
potential                         48.0
international_reputation(1-5)      1.0
weak_foot(1-5)                     1.0
skill_moves(1-5)                   1.0
body_type                          0.0
crossing                           5.0
finishing                          2.0
heading_accuracy                   4.0
short_passing                      7.0
volleys                            3.0
dribbling                          4.0
curve                              6.0
freekick_accuracy                  3.0
long_passing                       9.0
ball_control                       5.0
acceleration                      12.0
sprint_speed                      12.0
agility                           11.0
reactions                         24.0
balance                           16.0
shot_power                         2.0
jumping                           15.0
stamina                           12.0
strength                          20.0
long_shots                         3.0
aggression                        11.0
interceptions                      3.0
positioning                        2.0
vision                            10.0
penalties                          5.0
composure                         12.0
marking                            3.0
standing_tackle                    2.0
sliding_tackle                     3.0
dtype: float64

In [33]:
#split the data
x = df.drop('overall_rating', axis = 1) 
y = df['overall_rating']

In [34]:
# split data into train, test
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, shuffle = True)

In [35]:
models = {
    'LinearRegression' : LinearRegression(),
    'KNeighborsRegressor' : KNeighborsRegressor(),
    'SVR' : SVR(),
    'DecisionTreeRegressor' : DecisionTreeRegressor(),
    'RandomForestRegressor' : RandomForestRegressor(),
    'AdaBoostRegressor' : AdaBoostRegressor(),
    'XGBRegressor' : XGBRegressor()
}

In [36]:
def evaluate_model(actual, predicted):
    score = r2_score(actual, predicted)
    return score

In [37]:
models_list = []
test_scores = []
train_scores = []
for i in range(len(list(models))):
    model = list(models.values())[i]
    #model ---> fit
    model.fit(x_train, y_train)
    #predict
    test_pred = model.predict(x_test) #test prediction
    train_pred = model.predict(x_train) #train prediction
    
    #model evaluation
    test_score = evaluate_model(y_test, test_pred)
    train_score = evaluate_model(y_train, train_pred)
    
    print(list(models.keys())[i])
    models_list.append(list(models.keys())[i])
    
    print('Model Training Performance : ')
    print("R2_Score = ", train_score)
    
    print('Model Testing Performance : ')
    print("R2_Score = ", test_score)
    
    test_scores.append(test_score)
    train_scores.append(train_score)

LinearRegression
Model Training Performance :
R2_Score =  0.9102025068129266
Model Testing Performance :
R2_Score =  0.909704276144101
KNeighborsRegressor
Model Training Performance :
R2_Score =  0.935436334105062
Model Testing Performance :
R2_Score =  0.8977439019310882
SVR
Model Training Performance :
R2_Score =  0.8856954730303813
Model Testing Performance :
R2_Score =  0.890232695780738
DecisionTreeRegressor
Model Training Performance :
R2_Score =  1.0
Model Testing Performance :
R2_Score =  0.9246748782151005
RandomForestRegressor
Model Training Performance :
R2_Score =  0.9961080485891699
Model Testing Performance :
R2_Score =  0.9736133997067606
AdaBoostRegressor
Model Training Performance :
R2_Score =  0.9057290590307537
Model Testing Performance :
R2_Score =  0.9007919473785362
XGBRegressor
Model Training Performance :
R2_Score =  0.9943161664911724
Model Testing Performance :
R2_Score =  0.9772779292562744

In [38]:
scores_df = pd.DataFrame(list(zip(models_list, test_scores)),
                        columns = ['Model', 'Test Score']).sort_values(by = ['Test Score'])

In [39]:
scores_df

                   Model  Test Score
2                    SVR    0.890233
1    KNeighborsRegressor    0.897744
5      AdaBoostRegressor    0.900792
0       LinearRegression    0.909704
3  DecisionTreeRegressor    0.924675
4  RandomForestRegressor    0.973613
6           XGBRegressor    0.977278